.Card {
    margin: 2rem auto;
    border: 1px solid #000; 
    border-radius: 1rem;
    width: 80vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color: rgba($primary-500, 0.4);
    gap: 2rem;
    color: white;

    @media (max-width: 768px) {
        width: 95%; 
        border-radius: 0.5rem; 
    }
}