/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

$height-navbar : 50px;
$padding-navbar : 1rem;
$all-height-navbar : calc($height-navbar + ($padding-navbar * 2));

/*Color of fonts/bars and so on*/
$primary-500 : #171c3b;
$primary-400 : #454962;
$primary-300 : #64677c;
$primary-200 : #9497a5;
$primary-100 : #b7b9c2;
$primary-50 : #e8e8eb;

$secondary-500 : #5d7cfa;
$secondary-400 : #7d96fb;
$secondary-300 : #92a7fc;
$secondary-200 : #b4c3fd;
$secondary-100 : #cdd6fd;
$secondary-50 : #eff2ff;

$tertiary-500 : #a56eff;
$tertiary-400 : #b78cff;
$tertiary-300 : #c39aff;
$tertiary-200 : #d1a9ff;
$tertiary-100 : #ddc0ff;
$tertiary-50 : #f6f0ff;

$error-500 : #fc5c46;
$error-400 : #fd7d6b;
$error-300 : #fd9283;
$error-200 : #feb4aa;
$error-100 : #feccc6;
$error-50 : #ffefed;

$success-500 : #1cc98a;
$success-400 : #49d4a1;
$success-300 : #67dbb1;
$success-200 : #97e6c9;
$success-100 : #b9eedb;
$success-50 : #e8faf3;

$focus-500 : #80c2ff;
$focus-400 : #99ceff;
$focus-300 : #aad6ff;
$focus-200 : #c5e3ff;
$focus-100 : #d8ecff;
$focus-50 : #f2f9ff;

// Global styles
* {
    max-width: 100vw;
    padding: 0%;
    margin: 0%;
    font-family: Montserrat;
    overflow-x: hidden;

    // Scrollbar styles for firefox
    scrollbar-width: thin;
    scrollbar-color: $primary-300 $primary-500;
}


// Scrollbar styles for chrome
* ::-webkit-scrollbar {
    width: 0.5rem;
}

* ::-webkit-scrollbar-track {
    background: none;
}

* ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: $primary-500;
}

.root {
    display: flex;
    flex-direction: column;
}

body {
    background-color: $primary-400;
}

// Typography styles

h1 {
    font-size: 56px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 26px;
}

h6 {
    font-size: 24px;
}

p {
    font-size: 16px;
}


// Mobile variant

@media screen and (max-width: 768px) {

    h1 {
        font-size: 24px;
        font-weight: 700;
    }

    h2 {
        font-size: 20px;
        font-weight: 700;
    }

    p {
        font-size: 18px;
        font-weight: 500;
    }
}
